.scrumboard {
  position: relative;
}
h1 {
  text-transform: uppercase;
}
.navi {
  background-color: rgb(16, 16, 90);
  color: white;
  display: flex;
  padding: 20px 10px;
  justify-content: space-between;
}

#info {
  padding: 20px;
  font-weight: 500;
  font-size: 16px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 300px;
  height: 320px;
  box-shadow: 2px 4px 6px grey;
  margin: 0px 70px 0;
}
.box h3 {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  height: 40px;
}
.add {
  margin-top: 50px;
  margin-left: 65px;
}

.task {
  padding: 5px;
  font-weight: 500;
  box-shadow: 1px 2px 2px grey;
  color: rgb(16, 16, 90);
}

#modal {
  border-radius: 10px;
  box-shadow: 24px 4px 6px grey;
  position: absolute;
  margin-left: 60px;
  margin-top: -180px;
  background-color: white;
  animation: blurIn 0.5s linear 1;
}

.hidden {
  display: none;
}
#modal {
  width: 500px;
  height: 280px;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(16, 16, 90);
  height: 50px;
  padding: 0 10px;
  margin-bottom: 3px;
  color: white;
  border-color: black;
}
.header h3 {
  margin: 10px 0;
}

.form button {
  margin-bottom: -220px;
}

.form input {
  margin: auto auto;
}
